@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('fonts/Rajdhani-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('fonts/Rajdhani-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.container, .quiz-options, .quiz-link, .quiz3container, .quiz2container, .quiz1container {
    text-align: center;
}

.quiz-options {
    margin-top: 1.25rem;
}

.quiz-link {F
    display: block;
    margin: 6.25rem auto;
}

/* Body und HTML */
html {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, #054824, #165019, #054824);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#screensaver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screensaver.hidden {
    display: none;
}

#screensaverVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.schriftunten {
    font-size: 5rem;
    color: #0c3408;
    margin-top: 12.5rem;
    font-family: 'Roboto-Bold';
    text-align: center;
}

/* Flexbox für TESTH-Bilder */
.quiz-options {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.quiz-link {
    text-align: center;
}

.level3, .level2, .level1 {
    position: relative;
    width: 35rem;
    height: 75rem;
    border: 0.1875rem solid #0c3408;
    border-radius: 5rem;
    transition: border-color 0.3s ease;
    background-color: #0c3408;
    margin-top: 6.25rem;
}
a.level1link, a.level2link, a.level3link {
    text-decoration: none;
    color: inherit;
    display: block;
}


/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 3.75rem;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 1.25rem;
    border: 0.125rem solid #888;
    width: 80%;
    max-width: 18.75rem;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#pinInput {
    padding: 0.625rem;
    font-size: 1rem;
    margin: 0.625rem 0;
    width: 80%;
}

/* Nummern Pad Hinzufügen */
#numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;
    margin-top: 0.625rem;
}

#numpad button {
    padding: 1.25rem;
    font-size: 1.125rem;
    background-color: #646363;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#numpad button:hover {
    background-color: #505050;
}

/* Stil für die rote Umrandung bei falschem PIN */
.error-border {
    border: 0.125rem solid red;
}

/* Stylen unten rechts Logo */
.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10rem;
    height: 10rem;
}

.blurred {
    filter: blur(0.3125rem);
}
.levelschriften {
    font-size: 5rem;
    font-family: 'Rajdhani-SemiBold';
}

#zählstand{
    height: 20rem;
    width: 20rem;
}


/* Überschrift stylen*/
h1 {
font-size: 20rem;
    color: #0c3408;
    transform-origin: center;
    display: inline-block;
    font-family: 'Rajdhani-Bold';
}

h2 {
    font-size: 5rem;
    color: #0c3408;
    display: inline-block;
    transform-origin: center;
    margin-top: -15rem;
    font-family: 'Roboto-Bold';
}
h3{
    color: #054824;
    font-family: 'Rajdhani-SemiBold';
}

#snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff;
    font-size: 1em;
    opacity: 0.8;
    user-select: none;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    10% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0.2;
    }
}
 /* Lichterkette*/
.lights-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    z-index: 1000;
}

.light {
    width: 30px;
    height: 60px;
    border-radius: 50%;
    margin: 0 5px;
    animation: glow 1s ease-in-out infinite alternate;
}

.light.red { background-color: red; }
.light.green { background-color: green; }
.light.blue { background-color: blue; }
.light.yellow { background-color: yellow; }

@keyframes glow {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/*Weihnachtsmann*/
.santa-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 400px;
    animation: wiggle 1s ease-in-out infinite;
}

@keyframes wiggle {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
}
