.iQontrolDevice, .iQontrolDeviceLinkToToggle  {
    position: relative;
    width: 190px !important;
    height: 190px !important;
    max-width: 190px !important;
    max-height: 190px !important;
    min-width: 190px !important;
    min-height: 190px !important;
}

.iQontrolDeviceIcon {
    width: 140px !important;
    height: 140px !important;
    margin-bottom: 5px;
}
.iQontrolDeviceName {
    position: relative;
    font-size: 20px !important;
    padding-top: 100px;
}
