body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#quiz-container {
    background: white;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 55rem;
    text-align: center;
    position: relative;
    margin-top: -20rem; /* Negative Marge verschiebt das Element nach oben */
}

/* Fortschrittsbalken stylen */
#progress-container {
    background: #e0e0e0;
    border-radius: 0.3125rem;
    height: 0.625rem;
    margin-top: 1.25rem;
    width: 100%;
    max-width: 50rem;
}

#progress-bar {
    background: #62b55a;
    height: 100%;
    width: 0%;
    border-radius: 0.3125rem;
    transition: width 0.3s;
}
#question-text {
    font-size: 1.3rem;
    font-family: "Rajdhani SemiBold";
}
#question-container {
    margin-bottom: 1.25rem;
}

#question-image {
    width: 100%;
    max-width: 18.75rem;
    margin: 0.625rem auto;
    display: block;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.btn {
    padding: 0.625rem;
    background-color: #62b55a;
    color: #ffffff;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #505050;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#result-image {
    display: block;
    margin: 0.625rem auto;
    max-width: 18.75rem;
}

#result-text {
    font-size: 1.2em;
    margin: 0.625rem 0;
}
